{% extends 'bgnm/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>{% block title %}Harihareshwar{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="http://fonts.googleapis.com/css?family=Alice|Playfair+Display:900" rel="stylesheet" type="text/css" />

</head>
{% block body %}
<body>

<div class="w3-container">
  <h1 class="heading">HARIHARESHWAR</h1>
  <br><br><br>
</div>

<div class="row">
  <div class="column">
    <img src="{% static 'bgnm/photos/harihareshwar/1.jpg' %}" onclick="openModal();currentSlide(1)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{% static 'bgnm/photos/harihareshwar/2.jpg' %}" onclick="openModal();currentSlide(2)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{% static 'bgnm/photos/harihareshwar/3.jpg' %}" onclick="openModal();currentSlide(3)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{% static 'bgnm/photos/harihareshwar/4.jpg' %}" onclick="openModal();currentSlide(4)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{% static 'bgnm/photos/harihareshwar/5.jpg' %}" onclick="openModal();currentSlide(5)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{% static 'bgnm/photos/harihareshwar/6.jpg' %}" onclick="openModal();currentSlide(6)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{% static 'bgnm/photos/harihareshwar/7.jpg' %}" onclick="openModal();currentSlide(7)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{% static 'bgnm/photos/harihareshwar/8.jpg' %}" onclick="openModal();currentSlide(8)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{% static 'bgnm/photos/harihareshwar/9.jpg' %}" onclick="openModal();currentSlide(9)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{% static 'bgnm/photos/harihareshwar/10.jpg' %}" onclick="openModal();currentSlide(10)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{% static 'bgnm/photos/harihareshwar/11.jpg' %}" onclick="openModal();currentSlide(11)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{% static 'bgnm/photos/harihareshwar/12.jpg' %}" onclick="openModal();currentSlide(12)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{% static 'bgnm/photos/harihareshwar/13.jpg' %}" onclick="openModal();currentSlide(13)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{% static 'bgnm/photos/harihareshwar/14.jpg' %}" onclick="openModal();currentSlide(14)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{% static 'bgnm/photos/harihareshwar/15.jpg' %}" onclick="openModal();currentSlide(15)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{% static 'bgnm/photos/harihareshwar/16.jpg' %}" onclick="openModal();currentSlide(16)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{% static 'bgnm/photos/harihareshwar/18.jpg' %}" onclick="openModal();currentSlide(18)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{% static 'bgnm/photos/harihareshwar/19.jpg' %}" onclick="openModal();currentSlide(19)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{% static 'bgnm/photos/harihareshwar/20.jpg' %}" onclick="openModal();currentSlide(20)" class="hover-shadow">
  </div>
 
</div>

<!-- The Modal/Lightbox -->
<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="mySlides">
      <div class="numbertext">1 / 23</div>
      <img src="{% static 'bgnm/photos/harihareshwar/1.jpg' %}" style="width:100%";>
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 23</div>
      <img src="{% static 'bgnm/photos/harihareshwar/2.jpg' %}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 23</div>
      <img src="{% static 'bgnm/photos/harihareshwar/3.jpg' %}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">4 / 23</div>
      <img src="{% static 'bgnm/photos/harihareshwar/4.jpg' %}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">5 / 23</div>
      <img src="{% static 'bgnm/photos/harihareshwar/5.jpg' %}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">6 / 23</div>
      <img src="{% static 'bgnm/photos/harihareshwar/6.jpg' %}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">7 / 23</div>
      <img src="{% static 'bgnm/photos/harihareshwar/7.jpg' %}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">8 / 23</div>
      <img src="{% static 'bgnm/photos/harihareshwar/8.jpg' %}" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">9 / 23</div>
      <img src="{% static 'bgnm/photos/harihareshwar/9.jpg' %}" style="width:100%">
    </div>

	<div class="mySlides">
      <div class="numbertext">10 / 23</div>
      <img src="{% static 'bgnm/photos/harihareshwar/10.jpg' %}" style="width:100%">
    </div>

	<div class="mySlides">
      <div class="numbertext">11 / 23</div>
      <img src="{% static 'bgnm/photos/harihareshwar/11.jpg' %}" style="width:100%">
    </div>

	<div class="mySlides">
      <div class="numbertext">12 / 23</div>
      <img src="{% static 'bgnm/photos/harihareshwar/12.jpg' %}" style="width:100%">
    </div>

	<div class="mySlides">
      <div class="numbertext">13 / 23</div>
      <img src="{% static 'bgnm/photos/harihareshwar/13.jpg' %}" style="width:100%">
    </div>

	<div class="mySlides">
      <div class="numbertext">14 / 23</div>
      <img src="{% static 'bgnm/photos/harihareshwar/14.jpg' %}" style="width:100%">
    </div>

	<div class="mySlides">
      <div class="numbertext">15 / 23</div>
      <img src="{% static 'bgnm/photos/harihareshwar/15.jpg' %}" style="width:100%">
    </div>

	<div class="mySlides">
      <div class="numbertext">16 / 23</div>
      <img src="{% static 'bgnm/photos/harihareshwar/16.jpg' %}" style="width:100%">
    </div>

	<div class="mySlides">
      <div class="numbertext">18 / 23</div>
      <img src="{% static 'bgnm/photos/harihareshwar/18.jpg' %}" style="width:100%">
    </div>

	<div class="mySlides">
      <div class="numbertext">19 / 23</div>
      <img src="{% static 'bgnm/photos/harihareshwar/19.jpg' %}" style="width:100%">
    </div>

	<div class="mySlides">
      <div class="numbertext">20 / 23</div>
      <img src="{% static 'bgnm/photos/harihareshwar/20.jpg' %}" style="width:100%">
    </div>



    <!-- Next/previous controls -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>


  </div>
</div>
{% endblock %}



</body>
</html>

