{% extends 'bgnm/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>{% block title %}Members{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="http://fonts.googleapis.com/css?family=Alice|Playfair+Display:900" rel="stylesheet" type="text/css" />

</head>
{% block body %}
<body>

<div class="w3-container">
  <h1 class="heading">MEET THE MEMBERS</h1>
  <br>
</div>

<div class="core">
	<h3>Core Members</h3>
</div>
<br>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="{% static 'bgnm/photos/Members/vikas1.jpg' %}" alt="vikas" style="width:100%;height:300px">
      <div class="container">
        <h2><center>Vikas Nikam</center></h2>
        <p class="post">President</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'bgnm/photos/Members/haresh2.jpg' %}" alt="haresh" style="width:100%;height:300px">
      <div class="container">
        <h2><center>Haresh Kambli</center></h2>
        <p class="post">Secretary</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'bgnm/photos/Members/suraj.jpg' %}" alt="John" style="width:100%;height:300px">
      <div class="container">
        <h2><center>Suraj Pawade</center></h2>
        <p class="post">Treasurer</p>
      </div>
    </div>
  </div>
</div>
<br>

<div class="core">
	<h3>Other Members</h3>
</div>
<br>
<div class="row">
  <div class="column2">
    <div class="card">
      <img src="{% static 'bgnm/photos/Members/hitesh.jpg' %}" alt="hitesh" style="width:100%;height:250px">
      <div class="container">
        <h2>Hitesh Kambli</h2>
      </div>
    </div>
  </div>

  <div class="column2">
    <div class="card">
      <img src="{% static 'bgnm/photos/Members/sushant.jpg' %}" alt="sushant" style="width:100%;height:250px">
      <div class="container">
        <h2>Sushant sawant</h2>
      </div>
    </div>
  </div>

  <div class="column2">
    <div class="card">
      <img src="{% static 'bgnm/photos/Members/prasad.jpg' %}" alt="prasad" style="width:100%;height:250px">
      <div class="container">
        <h2>Prasad Choudhary</h2>
      </div>
    </div>
  </div>

  <div class="column2">
    <div class="card">
      <img src="{% static 'bgnm/photos/Members/rahul_s.jpg' %}" alt="haresh" style="width:100%;height:250px">
      <div class="container">
        <h2>Rahul Salunkhe</h2>
      </div>
    </div>
  </div>

  <div class="column2">
    <div class="card">
      <img src="{% static 'bgnm/photos/Members/prasad_p.jpg' %}" alt="haresh" style="width:100%;height:250px">
      <div class="container">
        <h2>Prasad Pawar</h2>
      </div>
    </div>
  </div>

  <div class="column2">
    <div class="card">
      <img src="{% static 'bgnm/photos/Members/shubham.jpg' %}" alt="shubham" style="width:100%;height:250px">
      <div class="container">
        <h2>Shubham Kambli</h2>
      </div>
    </div>
  </div>

  <div class="column2">
    <div class="card">
      <img src="{% static 'bgnm/photos/Members/sachin.jpg' %}" alt="shubham" style="width:100%;height:250px">
      <div class="container">
        <h2>Sachin Rane</h2>
      </div>
    </div>
  </div>

  <div class="column2">
    <div class="card">
      <img src="{% static 'bgnm/photos/Members/pravin.jpg' %}" alt="shubham" style="width:100%;height:250px">
      <div class="container">
        <h2>Pravin Pawar</h2>
      </div>
    </div>
  </div>

  <div class="column2">
    <div class="card">
      <img src="{% static 'bgnm/photos/Members/rahul_b.jpg' %}" alt="shubham" style="width:100%;height:250px">
      <div class="container">
        <h2>Rahul Belote</h2>
      </div>
    </div>
  </div>

  <div class="column2">
    <div class="card">
      <img src="{% static 'bgnm/photos/Members/rohit.jpg' %}" alt="shubham" style="width:100%;height:250px">
      <div class="container">
        <h2>Rohit Jaiswar</h2>
      </div>
    </div>
  </div>
</div>

<div class="core">
	<h3>Mahila Mandal</h3>
</div>
<br>
<div class="row">
  <div class="column2">
    <div class="card">
      <img src="{% static 'bgnm/photos/Members/pooja.jpg' %}" alt="pooja" style="width:100%;height:270px">
      <div class="container">
        <h2>Pooja Rane</h2>
      </div>
    </div>
  </div>

  <div class="column2">
    <div class="card">
      <img src="{% static 'bgnm/photos/Members/gauri.jpg' %}" alt="neha" style="width:100%;height:270px">
      <div class="container">
        <h2>Neha Kambli</h2>
      </div>
    </div>
  </div>

  <div class="column2">
    <div class="card">
      <img src="{% static 'bgnm/photos/Members/prachi.jpg' %}" alt="prachi" style="width:100%;height:270px">
      <div class="container">
        <h2>Prachi Sawant</h2>
      </div>
    </div>
  </div>
</div>

<div class="core">
	<h3>Advisor</h3>
</div>
<br>
<div class="row">
  <div class="column2">
    <div class="card">
      <img src="{% static 'bgnm/photos/Members/sandeep.jpg' %}" alt="pooja" style="width:100%;height:270px">
      <div class="container">
        <h2>Sandeep Kambli</h2>
      </div>
    </div>
  </div>

  <div class="column2">
    <div class="card">
      <img src="{% static 'bgnm/photos/Members/balkhande.jpg' %}" alt="pooja" style="width:100%;height:270px">
      <div class="container">
        <h2>Balkhande Sonar</h2>
      </div>
    </div>
  </div>

  <div class="column2">
    <div class="card">
      <img src="{% static 'bgnm/photos/Members/rajendra.jpg' %}" alt="neha" style="width:100%;height:270px">
      <div class="container">
        <h2>Rajendra Salunkhe</h2>
      </div>
    </div>
  </div>

  <div class="column2">
    <div class="card">
      <img src="{% static 'bgnm/photos/Members/yogesh.jpg' %}" alt="prachi" style="width:100%;height:270px">
      <div class="container">
        <h2>Yogesh Patil</h2>
      </div>
    </div>
  </div>
</div>

</body>
{% endblock %}
</html>

