
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{

		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
}
/* The navigation menu */


.header {
	text-align: center;
	width: 900px;
	margin-left: auto;
	margin-right: auto;

}

div.polaroid {
  width: 20%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
  border-radius: 50px;
}

img{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

